---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre Walther Seidel";
const identity = {
  firstName: "Walther",
  country: "Colombia",
  occupation: "Ingeniero de Sistemas",
  hobbies: ["Cocinar", "Programar", "Leer"],
};
const skills = ["HTML", "CSS", "JavaScript", "Astro", "ReactJS"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>...y es mi nombre</h2>
  <p>
    Mi nombre es {identity.firstName}, y soy {identity.occupation}
  </p>
  <p>Algunos datos sobre mi</p>
  <ul>
    <li>Soy de {identity.country}</li>
    <li>
      Mis hobbies son:
      <ul>
        {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
      </ul>
    </li>
    <li>
      Tengo habilidades en:
      <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
      </ul>
    </li>
  </ul>
</BaseLayout>
